<article class="post">
  <div class="title">
    <a href="/editPost">{{title}}</a>
    </div>
    <span>{{text}}</span>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
  </div>
</article>